<div class="row row-cols-2">
  <div class="col-8">
    <h2 class="text-center">Shop</h2>
    <div class="row row-cols-3 gy-3">
      <div *ngFor="let product of allProducts" class="card">
        <img
          src="{{ product.thumbnail }}"
          class="card-img-top"
          alt="{{ product.title }}"
        />
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-primary" (click)="addToCart(product)"
              >{{ product.price }} $</a
            >
            <a
              *ngIf="!favourites.includes(product)"
              class="btn btn-danger"
              (click)="addToFavourites(product)"
              >♡</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h2 class="text-center">Carrello</h2>
    <h4>Totale: {{ calculateTotalPrice() }} $</h4>
    <div *ngFor="let product of cart" class="card">
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">Prezzo: {{ product.price }} $</p>
        <p class="card-text">Marca: {{ product.brand }}</p>
        <p class="card-text">Categoria: {{ product.category }}</p>
        <div class="d-flex justify-content-evenly">
          <a class="btn btn-danger" (click)="removeCart(product)">{{
            addButton
          }}</a>
          <a class="btn btn-primary" (click)="addToFavourites(product)">{{
            favouriteButton
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
